* {
	margin: 0px;
	padding: 0px;
}
.img-div{
	margin:10px auto;
	width:940px;
	
	 width: 100%;
}
.img-div img{
	width:100%;
}
.text{
	color:white;
	padding:30px;
}
.net{
	margin:20px auto;
	display: table;
}
.web-img{
	width:30px;
}
.footer{height:inherit;}
.txt{
	font-weight:400;
	text-align:justify;
}
.text-end{
	
	padding: 0px 10px;
    color: #a03434;
    font-family: ui-sans-serif;
}
.m-bottom{
	margin-bottom:0px !important;
	margin-top:0px !important;
}
p{
	margin-bottom:0px !important;
}
hr{
	margin-top:0px !important;
	margin-left:15px;
	margin-right:15px;
}
@media only screen and (max-width:750px) {
.text {
    color: #6d7175;
    padding: 15px;
	}
}