* {
	margin: 0px;
	padding: 0px;
}
body{
	padding-top:10px;
	background-image:url("../images/splash-bcgr.jpg");
	background-repeat: no-repeat;
	width:100%;
}
.log{
	color:#e2dc0f !important;
}
.log:hover{
	background-color: #8080808c !important;
	color: white !important;
	box-shadow: inset 6px 0px 19px 5px !important;
    border-radius: 3px !important;
	text-decoration:none !important;  
}
.sign{
	color:white !important;
}
#table-item{
	color:white;
}

footer{
	background:red;
	width:100%;
	padding: 20px;
	height: 100px;
}
.flex{
	display:flex;
	
}

 h1{
	margin:20px auto;
	font-size: xx-large;
    letter-spacing: 0.3em;
	position:sticky;
}

.logo-banner{
	float:left;
	padding:10px;
	margin-left:100px;
	margin-right:-100px;
}
  
 a {
	text-decoration: none;
}

.text-center {
	text-align: center;
}
.float{
	float:right;
}
.mb-10 {
	margin-bottom: 10px;
}

.menu {
	background-image:url("../images/textured-background.jpg");
	 background-repeat: no-repeat;
	 background-size: 100%;
	 background-repeat: round;
    padding: 10px;
	display:flex;
}
.icon{display:none;}

.menu li {
	list-style-type: none;
	margin-right: 30px;
	margin-top: 20px;
	
}

.menu li:last-child {
	margin-right: 0px;
}

.menu li a {
	color:white;
	padding:10px ;
	
}

.active {
	border-bottom: 2px solid #bd4848;
}
.menu li a{
	color:#ffffff;
	text-shadow:2px 2px 7px #111111;
	letter-spacing:0.2em;
}


.my-main {
	display: flex;
}
.menu li a:hover {
	background-color: #8080808c;
	color: white;
	box-shadow: inset 6px 0px 19px 5px;
    border-radius: 3px;
	text-decoration:none;
}

.table-sub-menu  {
	
    width:inherit;
	display:none;
	background: #fbfafa;
    border-radius: 6px;
    text-align: center;
	
}

.table-sub-menu li a {
	margin-right: 0px;
    display: block;
    text-align: center;
	padding:10px;
	width: inherit;
	
}
.table-sub-menu li{
	margin-top: 0px;
}
.table-sub-menu li a:hover{
	border-bottom:1px solid gray;
	text-decoration:none;
	padding:20px;
	
}

#table-item:hover > .table-sub-menu {
	display:block !important;
}


@media only screen and (max-width:750px) {
	
	
	.menu, .items,.item2 h2, .responsive, .item-left, .item-right , .items-heades h2 p{
		flex-direction: column;
		width:100%;
		border-bottom:none;
	}
	 .closebtn, nav span{
		display:block!important
	}
	.flex {
    display: unset;
	}
	.wrapper{
		margin-bottom:50px;
	}
	.table-sub-menu {
	display: inline-block;
    background: #fbfafa;
    padding: 1px;
    width: inherit;
    margin-left: 57px;
	display:none;
	padding-left:10px;	
	}
	
	body{
		background:none;
	}
	footer{
		background:white;}
	#table-item:hover > .table-sub-menu {
	display:block;
	
	}
	.menu{
		background:#f3f2f2;
		position:realative;
		display:none;
	}
	.menu li a {
		color:#3969b1;
		letter-spacing: 0.4em;
	}
	
	.icon:hover{
		color:gray;
	}
	
	.dropdown-menu{
		position:none !important;
	}
	nav{
		background:none;
		width:100%;
	}
	
	.icon{
    display:block;
	color: black;
    font-size: 32px;
    padding: 10px;
   
	}
	.navbar{
		margin-bottom:none;
	}
	.banner{
	width: 100%;
    height: auto;
    color: white;
    background: g#8080805e;
    position: absolute;
	}
	
	h1{
		margin:30px auto;
		font-size:x-large;
	}
	.logo-banner{
		margin-left:20px;
		margin-right:20px;
	}
	
	.left {
		border-right: none;
		border-bottom: 1px solid #197179;
	}
	
	.item-right {
		width: 100%;
	}
	
	.menu li{
		margin-top:20px;
		padding:10px 20px;
		border-bottom:2px solid white;
		text-align:center;	
		overflow: hidden;
		position: relative;	
		
	}
		
	
	.item-left,.item-right, .items2 p , h2{
		background:white;
		padding:10px;
	}
	.item2 p{
		background:#cfecf1;
	}

	.menu li:last-child{
			border-bottom:none;		
	}
	
		

	.log {
		padding:10px 40px;
	}
	.wrapper {
    width: 100%;
    margin: 0px auto;
    margin-top: opx;
    text-align: center;
    
	}
}
 .background{
	 background:#fafafa;
 }	
.table{
	padding:20px;
	margin: 0px auto;
}
.table th {
	    padding: 20px 5px
}
.m-l-10{
	margin-left:10px;
}
.center{
	    
    margin-left: 37%;
}
.table th tr{
   text-align:left;
}
.td-icon img{
	
	margin-left: 10px;
	 opacity: 0.7;
}
.td-icon img:hover{
	opacity:1;
}
.text-end{
	color: #f3ecec;
    opacity: 0.6;
}
.txt{
	opacity: 0.4;
    font-size: 10px;
}

.m-20{
	margin-top:20px;
}
 .closebtn {
 color: white;
 text-decoration: none;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  display:none;
  margin-top: 60px;
}
.closebtn:hover{color: #0056b300!important;}    

nav span{
	display:none;
}

.logo-margin{
	margin-top:0px !important;
	width:90px;
	margin-right: 100px;
}

