* {
	margin: 0px;
	padding: 0px;
}
.frame-content{
	display:column;
	margin:100px auto;
}
.frame{
	width:150px;
	height:150px;
	border:1px solid #49768e;
	border-radius:50%;
	box-shadow: 5px 4px 14px 14px #49768e;
	background:#49768e;
}
.frame:hover{
	padding:2px;
	opacity:0.7;
}
#more {display: none;}
#more1 {display: none;}

.text-style{
    color: #ece5e5;
    margin-left: 40px;
    text-shadow: -3px 0px 1px black;
	padding-left:10px;
}
.text-style p{
	padding:20px;
	background: #eff1f9;
    color: black;
    text-shadow: 1px 2px 6px grey;
    border-radius: 3px;
    border: 1px solid #0000004d;
    box-shadow: 9px 2px 5px 3px black;	
}
.text-style h2{
	 background-image:url("../images/textured-background.jpg");
	 margin-top: 20px;
}
.h-kris{    margin-bottom: 0px;
    background-image: url(../images/textured-background.jpg);
    border-radius: 5px;
    margin-left: 3px;
    padding-left: 20px;
    width: 485px;
    padding-right: 20px;
}
.h-mil{margin-bottom: 0px;
    background-image: url(../images/textured-background.jpg);
    border-radius: 5px;
    margin-left: 3px;
    padding-left: 20px;
    width: 340px;
    padding-right: 20px;}
.h-nev{
	margin-bottom: 0px;
	background-image: url(../images/textured-background.jpg);
    border-radius: 5px;
    margin-left: 3px;
    padding-left: 20px;
    width: 343px;
    padding-right: 20px;}
.h-jel{
    margin-bottom: 0px;
    background-image: url(../images/textured-background.jpg);
    border-radius: 5px;
    margin-left: 3px;
    padding-left: 20px;
    width: 388px;
    padding-right: 20px;
	}
.h-maja{
    margin-bottom: 0px;
    background-image: url(../images/textured-background.jpg);
    border-radius: 5px;
    margin-left: 3px;
    padding-left: 20px;
    width: 380px;
    padding-right: 20px;
}
.m-auto{
	margin:auto;
	
}
.mySlides p{
	text-align:center;
	color:white;
	font-size:30px;
}
h6{
	color:white;
}
footer{
	background:#420332;
	padding:50px;
}
.text-style button{
	padding: 3px;
    border-radius: 6px;
    border: none;
    background: #ffffff94;
    font-size: 12px;
}
button:hover{
	border:1px solid black;
}

@media only screen and (max-width:540px) {
	.flex{disply:table-row;}
	.text-style{width:250px;
	margin-bottom:40px;}
	.text-style h2{    font-size: small}
}